# Backend
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/database
ADMIN_API_KEY=example_key
FRONTEND_URL=http://localhost
DB=minidex
JWT_SECRET=example_jwt_secret
JWT_EXPIRATION=86400000

# Frontend
PUBLIC_BACKEND_BASE_URL=/api/v1