<article class="absolute bottom-2 left-2 text-xs text-zinc-200 bg-black/40 rounded-sm p-2 w-xl">
    <h4 class="text-sm mb-1">
        This project is a non-commercial fan project created for educational purposes.
    </h4>
    <p>
        Pokémon and all related names, images, and assets are trademarks and copyrights of Nintendo, Game Freak, and The Pokémon Company. This project is not affiliated with, endorsed by, or associated with them in any way.
    </p>    
</article>
